/*
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

main {
    flex-grow: 1;
}

footer ul {
    padding-left: 0;
}

.social-logo {
    width: 33px;
    height: 33px;
}

.footer-link {
    list-style-type: none;
    padding-bottom: 10px;
}

.navbar .container {
    display: initial;
}